.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.todo {
  background-color: #892ad6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  min-height: 804px;
}

.title {
  margin-bottom: 30px;
}

.home {
  background-color: #892ad6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 94vh;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px;
  margin: 75px 200px;
  text-align: center;
  background-color: #21152b;
  height: 50%;
  width: 30%;
  opacity: 95%;
}

.todo-background {
  border-radius: 10px;
  padding: 40px 40px 50px 40px;
  margin: 100px 200px 200px;
  text-align: center;
  background-color: #21152b;
}

.label-auth {
  margin-bottom: 20px;
}

.add-todo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 635px;
  background-color: #892ad6;
  border-radius: 8px;
}

.edit-buttons {
  display: flex;
}

.edit-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 635px;
}

.console {
  margin-top: 45px;
}

.label-reg {
  min-width: 150px;
  text-align: left;
}

.error-text {
  margin: 20px;
}
